<!-- countries/upload.html -->
{% extends "base.html" %}

{% block title %}
	Upload
{% endblock %}

{% block head %}
	{% load static %}
{% endblock %}

{% block body %}
	<form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}

		{{ form.as_ul }}

		<input type="submit" value="Upload"></button>
	</form>

	{% for message in messages %}
		<div class="container-fluid p-0">
			<div class="alert {{ message.tags }} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				{% if message.tags == 'error' %}
					<div class="alert alert-danger text-center" role="alert">
						{{ message }}
					</div>
				{% else %}
					<div class="alert alert-{{ message.tags }} text-center" role="alert">
						{{ message }}
					</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}