POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=spatial_data

DB_NAME=spatial_data
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_HOST=db

# Set to enable API key auth on write endpoints
# API_KEY=your-secret-key
