aiofiles==0.8.0
anyio==3.6.1
asgiref==3.5.2
awesome-cli==0.2.0
cleo==0.8.1
click==7.1.2
clikit==0.6.2
colorama==0.4.5
colorful==0.5.4
crashtest==0.3.1
Django==4.0.6
fastapi==0.78.0
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
has==0.0.4
idna==3.3
Jinja2==3.1.2
lxml==4.9.1
MarkupSafe==2.1.1
mistune==0.8.4
pastel==0.2.1
prompt-toolkit==3.0.30
psycopg2-binary==2.9.3
pydantic==1.9.1
pylev==1.4.0
shellingham==1.4.0
sniffio==1.2.0
SQLAlchemy==1.4.39
sqlparse==0.4.2
starlette==0.19.1
termcolor==1.1.0
termcolor2==0.0.3
typer==0.3.2
typer-cli==0.0.12
typing_extensions==4.3.0
uvicorn==0.18.2
wcwidth==0.2.5
