asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.4
Django==6.0.3
django-bootstrap==0.2.4
django-bootstrap4==26.1
django-extensions==4.1
django-fontawesome-5==1.0.18
geojson==3.2.0
idna==3.11
packaging==26.0
psycopg2-binary==2.9.10
requests==2.33.0
six==1.17.0
sqlparse==0.5.3
termcolor==3.3.0
typing_extensions==4.15.0
urllib3==2.6.3
