{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
	<div class="container text-center" style="max-width: 1100px; margin: 2rem auto;">
		<h1>Spatial Data</h1>
		<p class="lead">Manage and explore country spatial data.</p>
		<div class="row mt-4">
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title">API Docs</h5>
						<p class="card-text">Interactive API documentation.</p>
						<a href="/docs" class="btn btn-primary">Open Docs</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title">Add Country</h5>
						<p class="card-text">Add a new country manually.</p>
						<a href="/web/country/add" class="btn btn-primary">Add Country</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title">Bulk Upload</h5>
						<p class="card-text">Upload a GeoJSON file.</p>
						<a href="/web/upload" class="btn btn-primary">Upload</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
